.App {
  height: 100vh;
  overflow: hidden;
}

.form-login {
  align-items: center;
}

.background {
  background: url("../../Assets/Images/BgLogin.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity {
  background-color: #5e50a1;
  opacity: 0.6;
  height: 100vh;
  z-index: -1;
}

.logo-login {
  position: absolute;
  width: 125px;
  left: 3%;
  top: 3%;
  opacity: 1 !important;
}

.tagline-login {
  position: absolute;
  left: 3%;
  top: 30%;
  color: white;
  width: 35%;
}

.tagline-option-login {
  position: relative;
  color: white;
  width: 80%;
}

.option-login {
  position: relative;
  margin-top: -75vh;
}

.login-as-employee {
  font-size: x-large;
  font-weight: 500;
  background-color: #5e50a1;
  border-color: #5e50a1;
}

.login-as-employee:hover {
  background-color: #5e50a1;
  border-color: #5e50a1;
}

.login-as-employee:focus {
  background-color: #5e50a1;
  border-color: #5e50a1;
}

.login-as-company {
  font-weight: 500;
  font-size: x-large;
  color: white;
  border-color: white;
}

.login-as-company:hover {
  background-color: orange;
  border-color: orange;
}

.login-as-company:focus {
  background-color: orange;
  border-color: orange;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.strike > span {
  position: relative;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: large;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: rgb(255, 255, 255);
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

.text-none {
  text-decoration: none !important;
}