.empty-header {
    padding-bottom: 30px !important;
}

.info {
    text-align: center;
}

.card {
    height: 60vh;
}

.empty-image {
    position: relative;
    display: flex;
    height: 30vh;
    align-items: flex-end;
    justify-content: center;
}