.wrapper-nodata {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-nodata {
  width: 200px;
}

.title-no-data {
  margin-top: 20px;
  font-weight: lighter;
  color: #1f2a36;
}
