.wrapper-home {
  padding-left: 100px;
  padding-right: 100px;
  /* background-color: white; */
}

.skills-badge-home {
  margin-right: 8px;
}

.badge-skills {
  margin-bottom: 4px;
}

.header-home {
  color: white;
  background-color: #5e4fa1;
}

/* button */
.btn-flat {
  background-color: #5e4fa1;
  color: white;
}

.btn-flat:hover {
  color: white;
  background-color: #503ea4;
}

/* Outline */
.btn-outline-flat {
  border-color: #503ea4;
  color: #503ea4;
}

.btn-outline-flat:hover {
  background-color: #503ea4;
  color: white;
}
/* Outline end */

/* warning */
.btn-warning-flat {
  background-color: #fbb018;
  color: white;
}

.btn-warning-flat:hover {
  color: white;
  background-color: #e09a0d;
}

/* outline */
.btn-outline-warning-flat {
  border-color: #fbb018;
  color: #e09a0d;
}

.btn-outline-warning-flat:hover {
  background-color: #fbb018;
  color: white;
}
/* button end*/

.img-user-home {
  border-radius: 50% !important;
  height: 150px;
  width: 150px;
  margin-left: 25px;
}

.body-user-home {
  margin-left: 40px;
  margin-bottom: 20px;
}

.hr-home:last-of-type {
  display: none;
}

/* Pagination Home */
.pagination-employee {
  text-decoration: none;
  color: white;
}

.page-link {
  background-color: white !important;
  color: #503ea4;
}

.page-link:hover {
  color: white;
  background-color: #503ea4 !important;
}
